{% if status %}**Status:** {{ status }}
{% endif %}
{% if assignee %}**Assignee:** {{ assignee }}
{% endif %}
{% if severity %}**Severity:** {{ severity }}
{% endif %}
{% if story %}**Implements:** {{ story }}
{% endif %}
