{% for group in groups %}
{% if group.key is not none %}
### {{ group.key }}

{% endif %}
| {{ fields | map(attribute="label") | join(" | ") }} |
| {% for f in fields %}---{% if not loop.last %} | {% endif %}{% endfor %} |
{% for record in group.records %}
| {% for f in fields %}{{ record.values[f.code].text }}{% if not loop.last %} | {% endif %}{% endfor %} |
{% endfor %}
{% endfor %}
